// Old WooCommerce Filter
  .wc-blocks-filter-wrapper {
  padding: 24px;
  border: 1px solid var(--wp--preset--color--border);
  border-radius: 24px;

    // Price Filter
    .wp-block-woocommerce-price-filter {
      .wc-block-price-slider {
        .wc-block-price-filter {
          margin: 0;

          &__range-text {
            margin: 16px 0;
          }
        }
        .wc-block-components-price-slider__range-input-progress {
          color: var(--wp--preset--color--primary);
        }
        
      }
    }

    // Rating Filter
    .wp-block-woocommerce-rating-filter {
      margin-bottom: 0;
    }

    .wc-block-rating-filter__actions,
    .wc-block-components-price-slider__actions,
    .wc-block-attribute-filter__actions,
    .wc-block-stock-filter__actions {
      display: flex;
      justify-content: flex-start;
      gap: 8px;

      button {
        background-color: var(--wp--preset--color--primary);
        color: #fff;
        padding: 4px 12px;
        border-radius: 4px;
        text-decoration: none;

        &.wc-block-components-filter-reset-button {
          background-color: var(--wp--preset--color--destructive);
        }
      }
    }
  }
  
  .wp-block-woocommerce-product-categories {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        margin-bottom: $xx-small;
        a {
          color: $card-foreground;
          text-decoration: none;
        }
  
        span.wc-block-product-categories-list-item-count {
          opacity: 0.6;
        }
  
        ul {
          margin-top: $xx-small;
        }
      }
    }
  }

  // New Product Filter Block
  .wc-block-product-filters {

    // Button
    &__open-overlay {
        background: var(--wp--preset--color--primary);
        cursor: pointer;
        color: #fff;
        align-self: flex-start;
        font-size: 14px;
        font-weight: 600;
        border-radius: 4px;
        padding: 4px 10px;
    }

    // Filter Overlay
    &__overlay {
        &-dialog {
            border-radius: 8px;
        }

        &-header {
            button {
                background-color: var(--wp--preset--color--destructive);
                color: #fff;
                border-radius: 4px;
                cursor: pointer;

                span {
                    font-size: 14px;
                }
            }
        }

        &-content {

            .wp-block-woocommerce-product-filter-active,
            .wp-block-woocommerce-product-filter-price,
            .wp-block-woocommerce-product-filter-rating,
            .wp-block-woocommerce-product-filter-attribute,
            .wp-block-woocommerce-product-filter-status,
            .wp-block-woocommerce-product-filter-stock {
                border: 1px solid var(--wp--preset--color--border);
                border-radius: 8px;
                padding: 16px;
            }
            

            .wp-block-woocommerce-product-filter-active {

                .wc-block-product-filter-clear-button {
                    flex-basis: content !important;

                    button {
                        background-color: var(--wp--preset--color--destructive);
                        color: #fff;
                        font-size: 13px;
                        border-radius: 4px;
                        border: none;
                        padding: 4px 10px !important;

                        &::before {
                            content: "\F117";
                            font-family: "bootstrap-icons";
                        }

                    }
                }
            }

            .wc-block-product-filter-removable-chips {
                &__label {
                    font-weight: 600;

                }

                &__item {
                    border-radius: 4px;
                    padding-right: 2px;
                }
            }

            .wc-block-product-filter-checkbox-list {
                &__item {
                    margin-bottom: 8px;
                }

                &__label {

                }

                &__input-wrapper {
                    input {
                        background-color: transparent;
                        width: 16px;
                        height: 16px;
                        border: 1px solid var(--wp--preset--color--border);
                        border-radius: 2px;
                        cursor: pointer;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }

                    svg {
                        background-color: var(--wp--preset--color--primary);
                        width: 16px;
                        height: 16px;
                        color: #ffffff;
                        border-radius: 2px;
                        padding: 4px;
                    }

                    &::before {
                        width: 16px;
                        height: 16px;
                    }

                }

                &__text-wrapper {
                    span {
                        cursor: pointer;
                        color: var(--wp--preset--color--mute-foreground);
                        font-size: 14px;
                        font-weight: 600;
                    }

                    svg {
                        color: $wc-rating-color;
                    }
                }
                
            }
        }

        &-footer {
            button {
                border-radius: 4px;;
            }
        }
    }

    &.is-overlay-opened {
        .wc-block-product-filters__overlay {
            background-color: rgba(0, 0, 0, 0.6) !important;
            padding: 24px;
        }
    }
  }




  