.wp-block-details {
  padding: 20px 12px;
  border-bottom: 1px solid var(--wp--preset--color--muted);

  summary {
    position: relative;
    list-style: none;
    padding-left: 32px;

    &::before {
      content: "";
      background: var(--wp--preset--color--primary);
      display: block;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 0;
      line-height: 1;
      position: absolute;
      border-radius: 999px;
      @include translateY(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      background: #fff;
      -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20stroke%3D%22currentColor%22%20fill%3D%22currentColor%22%20stroke-width%3D%220%22%20viewBox%3D%220%200%2032%2032%22%20height%3D%22200px%22%20width%3D%22200px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M%2015%205%20L%2015%2015%20L%205%2015%20L%205%2017%20L%2015%2017%20L%2015%2027%20L%2017%2027%20L%2017%2017%20L%2027%2017%20L%2027%2015%20L%2017%2015%20L%2017%205%20Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      display: block;
      width: 12px;
      height: 12px;
      top: 50%;
      left: 6px;
      transition: all 0.3s linear;
      transform: translateY(-50%) !important;
    }
  }

  &[open] {
    summary {
      &::after {
        -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20stroke%3D%22currentColor%22%20fill%3D%22currentColor%22%20stroke-width%3D%220%22%20viewBox%3D%220%200%2032%2032%22%20height%3D%22200px%22%20width%3D%22200px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M%205%2015%20L%205%2017%20L%2027%2017%20L%2027%2015%20Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
      transform: rotate(180deg);
      }
    }
  }
}
