<!-- wp:template-part {"slug":"header","theme":"allmart","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Wrapper"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:pattern {"slug":"allmart/about-title-box"} /-->
    <!-- wp:pattern {"slug":"allmart/about-image-box"} /-->
    <!-- wp:pattern {"slug":"allmart/about-blurb-1"} /-->
    <!-- wp:pattern {"slug":"allmart/about-bento-grid"} /-->
    <!-- wp:pattern {"slug":"allmart/about-why-choose-us"} /-->
    <!-- wp:pattern {"slug":"allmart/about-team"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"allmart","area":"footer"} /-->