<!-- wp:template-part {"slug":"header-v2","theme":"onlinestore"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"onlinestore/slider"} /-->
  <!-- wp:pattern {"slug":"onlinestore/simple-blurb"} /-->
  <!-- wp:pattern {"slug":"onlinestore/onlinestore-banners"} /-->
  <!-- wp:pattern {"slug":"onlinestore/popular-categories"} /-->
  <!-- wp:pattern {"slug":"onlinestore/product-grid-2"} /-->
  <!-- wp:pattern {"slug":"onlinestore/sale-ticker"} /-->
  <!-- wp:pattern {"slug":"onlinestore/why-choose-us"} /-->
  <!-- wp:pattern {"slug":"onlinestore/product-grid-2"} /-->
  <!-- wp:pattern {"slug":"onlinestore/call-to-action"} /-->
  <!-- wp:pattern {"slug":"onlinestore/testimonials"} /-->
  <!-- wp:pattern {"slug":"onlinestore/latest-blog-2"} /-->
  <!-- wp:pattern {"slug":"onlinestore/call-to-action-2"} /-->
  <!-- wp:pattern {"slug":"onlinestore/instagram-post-2"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-v2","theme":"onlinestore"} /-->
