<!-- wp:template-part {"slug":"header","theme":"onlinestore","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"onlinestore/hero-banner"} /-->
  <!-- wp:pattern {"slug":"onlinestore/categories"} /-->
  <!-- wp:pattern {"slug":"onlinestore/offer-banner"} /-->
  <!-- wp:pattern {"slug":"onlinestore/popular-products"} /-->
  <!-- wp:pattern {"slug":"onlinestore/sale-banner"} /-->
  <!-- wp:pattern {"slug":"onlinestore/products-grid"} /-->
  <!-- wp:pattern {"slug":"onlinestore/mobile-app-banner"} /-->
  <!-- wp:pattern {"slug":"onlinestore/latest-blog"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"onlinestore","area":"footer"} /-->
