<!-- wp:template-part {"slug":"header","theme":"online-store","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"online-store/hero-banner"} /-->
  <!-- wp:pattern {"slug":"online-store/categories"} /-->
  <!-- wp:pattern {"slug":"online-store/offer-banner"} /-->
  <!-- wp:pattern {"slug":"online-store/popular-products"} /-->
  <!-- wp:pattern {"slug":"online-store/sale-banner"} /-->
  <!-- wp:pattern {"slug":"online-store/products-grid"} /-->
  <!-- wp:pattern {"slug":"online-store/mobile-app-banner"} /-->
  <!-- wp:pattern {"slug":"online-store/latest-blog"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"online-store","area":"footer"} /-->
