<!-- wp:template-part {"slug":"header-v2","theme":"online-store"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"online-store/slider"} /-->
  <!-- wp:pattern {"slug":"online-store/simple-blurb"} /-->
  <!-- wp:pattern {"slug":"online-store/online-store-banners"} /-->
  <!-- wp:pattern {"slug":"online-store/popular-categories"} /-->
  <!-- wp:pattern {"slug":"online-store/product-grid-2"} /-->
  <!-- wp:pattern {"slug":"online-store/sale-ticker"} /-->
  <!-- wp:pattern {"slug":"online-store/why-choose-us"} /-->
  <!-- wp:pattern {"slug":"online-store/product-grid-2"} /-->
  <!-- wp:pattern {"slug":"online-store/call-to-action"} /-->
  <!-- wp:pattern {"slug":"online-store/testimonials"} /-->
  <!-- wp:pattern {"slug":"online-store/latest-blog-2"} /-->
  <!-- wp:pattern {"slug":"online-store/call-to-action-2"} /-->
  <!-- wp:pattern {"slug":"online-store/instagram-post-2"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-v2","theme":"online-store"} /-->
