<!-- wp:template-part {"slug":"header","theme":"allmart","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Wrapper"},"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"allmart/home-banner-grid"} /-->
    <!-- wp:pattern {"slug":"allmart/home-trending-products"} /-->
    <!-- wp:pattern {"slug":"allmart/home-why-choose"} /-->
    <!-- wp:pattern {"slug":"allmart/home-banner"} /-->
    <!-- wp:pattern {"slug":"allmart/home-product-categories"} /-->
    <!-- wp:pattern {"slug":"allmart/home-search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"allmart"} /-->